{{#if genres}}
    <h1>Liste des genres</h1>
{{/if}}

{{#if jeu}}
    <h1>Liste des jeux du genre</h1>
{{/if}}
<ul>
    {{#each genres}} 
        <li>
            <a href="/Genres/{{id}}/jdg">{{nom}}</a> 
        </li>
    {{/each}}
    {{#each jeu}}
        <li>
            <a href="/Jeux/{{id}}/details">{{titre}}</a> 
        </li>
    {{/each}}
</ul>

<a href="../">RETOUR à la page precedente</a> 