
<form method="POST" action="/CreateGame">
<label for="">Title</label>
<input type="text" name="title" id="title" >
<label for="description">Description</label>
<input type="text" name="Description" id="Description">
<label for="Date">Date de création</label>
<input type="Date" name="date" id="releaseDate">
<label for="priority">priority</label>
<input type="checkbox" name="priority" id="priority">
<label for="">Genre</label>
<input type="text" name="Genre" id="Genre" >
<label for="">Publisher</label>
<input type="text" name="Publisher" id="Publisher" >

<button type="submit">Click to submit</button>
</form>

