<!--page d'accueil / liens d'accès aux autres pages-->
<p><a href="/Jeux">JEUX </a> </p>
<p><a href="/Genres">GENRES </a></p>
<p><a href="/Editeurs">EDITEURS </a></p>

<!--affichage des jeux mis en avant-->
<h1>Jeux mis à la une /en avant</h1>
<ul>
{{#if jeuxEnAvant}}
    {{#each jeuxEnAvant}}
            
                <li> <a href="/Jeux/{{id}}/details">{{titre}}</a> </li>              
    {{/each}}
{{else}}
    <li>Pas de jeux à la une </li>
{{/if}}
</ul>