<h1>Hottest Games</h1>
<ul>
{{#if Priority}}
<p>test</p>
    {{#each Priority}}
                <li>
                <a href="/GamesView/{{id}}/details">{{title}}</a>
                </li>              
    {{/each}}
{{else}}
   <p>Weird, there are no Games</p>
{{/if}}
</ul>