<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Vapeur</title>
</head>
<p><a href="/GamesView">Games </a> </p>
<p><a href="/Genres">Genres </a></p>
<p><a href="/Publishers">Publishers </a></p>

<body>
{{{body}}}




<p><a href="../">Go back</a></p>
</body>
</html>