<!--Formulaire de creation d'un jeu-->
<h1>Ajouter un jeu</h1>

<form action="/Jeux/Ajouter" method="POST">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" required>
    
    <label for="description">Description :</label>
    <textarea id="description" name="description" required></textarea>
    
    <label for="releaseDate">Date de sortie :</label>
    <input type="date" id="releaseDate" name="releaseDate" required>
    
    <label for="genreId">Genre :</label>
    <select id="genreId" name="genreId" required>
        {{#each genres}}
            <option value="{{this.id}}">{{this.nom}}</option>
        {{/each}}
    </select>
    
    <label for="editeurId">Éditeur :</label>
    <select id="editeurId" name="editeurId" required>
        {{#each editeurs}}
            <option value="{{this.id}}">{{this.nom}}</option>
        {{/each}}
    </select>
    
    <button type="submit">Ajouter le jeu</button>
</form>

<p><a href="/Jeux">RETOUR à la page precedente</a></p>   
