
<h1>Ajouter un éditeur</h1>

<form action="/Editeurs/Ajouter" method="POST">
    <label for="nom">Nom de l'éditeur :</label>
    <input type="text" id="nom" name="nom" required>

    <button type="submit">Ajouter l'éditeur</button>
</form>

<br>
<p><a href="/Editeurs">Retour à la liste des éditeurs</a></p>
<p><a href="/">Retour à l'accueil</a></p>