<h1>Add Publisher</h1>
<form action="/Publishers/CreatePublisher" method="POST">
    <label for="name">Publisher Name :</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Create Publisher</button>
</form>

<br>
<p><a href="/Publishers">Bck to publisher page</a></p>
<p><a href="/">Back to the landing page</a></p>