{{#if Publishers}}
{{#each Publishers}}
    <ul>
        <li>
            <strong>Publisher:</strong> {{Publishers}}
        </li>
    </ul>
{{/each}}
{{#else}}
    <p>No publisher information found.</p>
{{/else}}